.fourtop{
    width: 100%;
    height: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:fadenum 5s 1;

}

.fourbottom{
    width: 100%;
    height: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:fadenum 5s 1;

}

@keyframes fadenum{

   0%{opacity: 0;}

   100%{opacity: 1;}
   from {

    height: 0px;
    
    top : 400px;
    
    }
    
    to {
    
    height: 332px;
    
    top : 0px;
    
    }

}
.fourtop div{
    margin-left: 40px;
    width: 21%;
    height: 87%;
    background-color:whitesmoke;
    border-radius: 10px;
    border: 1px solid #ccc;
    

    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.fourtop div:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.fourbottom div{
    margin-left: 40px;
    width: 21%;
    height: 87%;
    background-color:whitesmoke;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.fourbottom div:hover{
transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
#four1 span:nth-child(1){
    font-family: "楷体";
    font-size: 20px;
    margin-left: 112px;
}
#four1 img{
    width: 82%;
    margin-left: 9%;
    margin-top: 10px;
}
#four1 span:nth-child(3){
    font-family: "楷体";
    font-size: 20px;
    margin-left: 32px;
}
#four2 span:nth-child(1){
    font-family: "楷体";
    font-size: 20px;
    margin-left: 112px;
}
#four2 img{
    width: 45%;
    margin-left: 9%;
    margin-top: 26px;
    float: left;
}
#four2 span:nth-child(3){
    font-family: "楷体";
    font-size: 20px;
    margin-top: 14px;
    float: right;
    width: 43%;
}
